* {
    /* resetea los margenes y padding o espaciados de la pagina*/
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}


/*************** INDICE **************
1. INDEX.PHP
2. MENU PRINCIPAL
2.1 BIENVENIDA INICIO


*/


/** 1. INDEX - LOGIN -----------------------------------------------------------------------------------------**/

#body_log {
    background-image: url("../img/back_logeo.jpg");
    background-size: cover;
}

#form_log {
    margin: auto;
    margin-top: 5%;
    width: 55%;
    background-color: #ffffffba;
    display: grid;
    grid-template-columns: 45% 60%;
    gap: 0.5em;
    grid-auto-rows: minmax(40px, auto);
    justify-items: stretch;
    padding: 20px;
    border-radius: 5% 5%;
}

#form_log div {
    /*  border:solid  1px  black;*/
    margin: auto;
    margin-right: 20px;
    margin-left: 30px;
    padding-top: 5px;
}

#form_log #separador_log {
    border-left: solid 2px rgba(0, 0, 0, 0.763);
    padding-left: 10px;
    margin-right: 50px;
}

#form_log #img_log {
    margin: auto;
    background-size: cover;
    width: 100%;
}

#form_log a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}

#form_log h1,
p,
img,
#img_login_icono,
h2 {
    display: block;
}

#form_log p {
    font-size: 30px;
    margin: auto;
    text-align: center;
}

#form_log h1 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 50px;
    /* Se indican 3 sombras diferentes */
    text-shadow: 2px 2px 0 rgb(7, 7, 7), 6px 6px 2px #777, 12px 12px 8px #444;
    text-align: center;
}

#form_log h2 {
    font-weight: bold;
    color: rgb(142, 141, 141);
    font-size: 40px;
    /* Se indican 3 sombras diferentes */
    text-shadow: 2px 2px 0 rgb(7, 7, 7), 6px 6px 2px #777, 12px 12px 8px #444;
    text-align: center;
}

#form_log input[type="text"],
input[type="password"] {
    font-size: 16px;
    padding: 10px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 0.5 em;
}

#form_log input[type="submit"] {
    font-size: 16px;
    padding: 10px;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #48e;
    color: #fff;
    border: none;
    cursor: pointer;
}

#form_log #img_login_icono {
    margin: auto;
    margin-top: 0.5em;
    width: 35%;
}

@media screen and (min-width: 321px) and (max-width: 800px) {
    #form_log {
        margin-top: 1%;
        width: 180%;
        justify-items: stretch;
        padding: 5px;
        padding-bottom: 180px;
    }
}


/* General --botones, colores, titulos, fondos ------------------------------------------------------------------------------*/


/* 2. General --Menu Principal */

.body_menu {
    background-image: url("../img/back_logeo.jpg");
    background-size: cover;
}

.contenedor_menu_main {
    margin: auto;
    margin-top: 0.5%;
    margin-bottom: 0.0%;
    width: 85%;
    height: 100%;
    background: rgba(223, 223, 223, 0.87);
    border: solid 1px rgb(255, 255, 255);
    padding: 10px;
}

.contenedor_menu_main div {
    display: block;
}

.contenedor_menu_main .cabecera_menu img {
    display: block;
    width: 75%;
    border: solid 1px rgba(126, 252, 0, 0);
}

.contenedor_menu_main .cabecera_menu {
    margin: auto;
    background: rgb(255, 255, 255);
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%239C92AC' fill-opacity='0.1' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.contenedor_menu_main .cabecera_menu img {
    margin: auto;
}

#cont_menu_menu ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    position: static;
}

#cont_menu_menu #item_menu {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cont_menu_menu #item_menu a {
    padding: 12px 18px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    background: rgba(21, 0, 255, 0.66);
    color: white;
    display: block;
}
#cont_menu_menu #item_cuenta {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

#cont_menu_menu #item_cuenta a {
    display: block;
    padding: 12px 5px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    background: rgba(255, 174, 0, 0.667);
    color: white; 
}

#cont_menu_menu #desp_submenu {
    display: none;
    position: absolute;
    min-width: 210px;
}
#cont_menu_menu #item_cuenta #desp_submenu {
    display: none;
    position: absolute;
    min-width: 100px;
}

#cont_menu_menu #desp_submenu a {
    background: rgb(0, 187, 255);
}
#cont_menu_menu #item_cuenta #desp_submenu a {
    background: rgb(101, 101, 101);
}

#cont_menu_menu #item_menu a:hover {
    background: rgba(255, 255, 255, 0.701);
    color: rgb(0, 21, 255);
}

#cont_menu_menu #item_menu:hover #desp_submenu {
    display: block;
}

#cont_menu_menu #item_cuenta a:hover {
    background: rgba(255, 255, 255, 0.701);
    color: rgb(255, 77, 0);
}
#cont_menu_menu #item_cuenta a img {
    display: inline;
    width: 1%;

}

#cont_menu_menu #item_cuenta:hover #desp_submenu {
    display: block;
}



#derechos_pie {
    margin: auto;
    text-align: center;
    background: rgba(205, 206, 208, 0.53);
    width: 85.7%;
    margin-bottom: 0.5%;
    border: solid 0.5px rgba(255, 255, 255, 0.653);
    padding: 5px;
}


/* 2.1 bienvenido menu principal --------------------------------------------------------------------------*/

#bienvenido {
    width: 99.7%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 4%;
    border: none 2px rgb(7, 7, 7);
    text-align: center;
}

#bienvenido h1,
h2,
img {
    display: block;
}

#bienvenido img {
    margin: auto;
    width: 25%;
    margin-bottom: 3%;
}

#bienvenido h1 {
    font-size: 40px;
    /* Se indican 3 sombras diferentes */
    text-shadow: 2px 2px 0 rgb(7, 7, 7), 6px 6px 2px #777, 12px 12px 8px #444;
    padding: 10PX;
}

#bienvenido h2 {
    font-size: 35px;
    /* Se indican 3 sombras diferentes */
    text-shadow: 2px 2px 0 rgb(7, 7, 7), 6px 6px 2px #777, 12px 12px 8px #444;
}

#bienvenido h3 {
    padding: 20px;
    font-size: 25px;
    /* Se indican 3 sombras diferentes */
    text-shadow: 2px 2px 0 rgb(255, 255, 255), 6px 6px 2px #777, 12px 12px 8px #444;
}


/* ------- controles botones, label, text, pasword */

#sub_cabecera_titulo {
    display: block;
    width: 99.7%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 1%;
    border: none 2px rgba(7, 7, 7, 0);
    text-align: center;
}

#sub_cabecera_titulo h2 {
    position: static;
    margin-top: 1%;
    margin-bottom: 20px;
    font-size: 20px;    
    /* Se indican 3 sombras diferentes */
    text-shadow: 2px 2px 0 rgb(255, 255, 255), 6px 6px 2px #777, 12px 12px 8px #444;

}

.contenedor_controles {
    border: solid 2px rgba(205, 72, 72, 0);
    display: block;
}

#ctrl_buscar {
    display: block;
    border: solid 2px rgba(205, 72, 72, 0);
    margin: 0%;
    margin: auto;
}

#ctrl_buscar table tr td {
    padding: 2px;
    border: solid 2px rgba(0, 0, 0, 0);
}

.contenedor_controles input[type=text] {
    font-size: 13px;
    color: black;
    border: solid 0.1px rgba(53, 55, 57, 0.79);
    background: white;
    padding: 5px;
    margin: 0%;
    border-radius: 2%;
}
.contenedor_controles input[type=date] {
    font-size: 13px;
    color: black;
    border: solid 0.1px rgba(53, 55, 57, 0.79);
    background: white;
    padding: 3px;
    margin: 0%;
    border-radius: 2%;
}

.contenedor_controles label {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding-left: 5px;
    margin: 0%;
}

.contenedor_controles select {
    font-size: 14px;
    color: black;
    border: solid 0.1px rgba(53, 55, 57, 0.79);
    background: white;
    padding: 5px;
    margin: 0%;
    border-radius: 2%;
}

.contenedor_controles input[type=submit] {
    font-size: 15px;
    padding: 5px 35px;
    margin: 0%;
    background-color: #48e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4.5%;
    font-weight: bold;
}

.contenedor_controles input[type=submit]:hover {
    font-size: 15.5px;
    padding: 4.5px 33.5px;
    position: static;
    color: rgba(0, 0, 0, 0.9);
    }



/*  contenedores formulario __________________________________________________________________________________________________*/
.cont_datos_personales{
display: block;
margin: auto;

}

legend{
    margin-left: 10px;
    font-weight: bold;
    /*border: solid 1px ;*/
    color: #444;
}
fieldset{
    display: block;
    margin: auto;
    padding-top: 18px;
    margin-bottom: 05px;
}
.cont_datos_personales fieldset table{
    display: inline-block;
}
.cont_datos_personales fieldset table, tr, td{
    border: solid 1px rgba(0, 0, 0, 0.05);
    border-collapse: collapse ;
    margin: 0%;
    padding: 0%;
}
.cont_datos_personales fieldset table td{    
    padding-bottom: 20px;
}
.cont_datos_personales fieldset table td label{
    margin-left: 4px;
    margin-right:0px ;
}

.cont_datos_personales fieldset table td input[type=text]{
    margin-right: 6px;
}

.cont_datos_personales #fotoop {
    display:flexbox;    
    float: right;
    position: static;
    margin: auto;
    margin-right: 20px;
    margin-left: 15px;
    width: 15%;
    height: 50%;
    border: solid 1px rgba(255, 255, 255, 0.194);
}
.cont_datos_personales #fotoop img {
    display:block;
    margin: auto;
    margin: 0%;
    padding: 0%;
    width: 100%;    
}
.cont_datos_personales #fotoop input[type=submit]{
    display: block;
    margin: auto;
    margin-top: 30px;
    
}
